*.py[co]
*.sw[po]
*.egg*
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
.noseids
tmp/*
*.neuro
*.swp
*~
*.mo
*.log
*.db
.vagrant
*.sublime-project
*.sublime-workspace
pybrain/*
/.idea
/.vagrant
/__pycache__
downloaded_datasets/*
